.bubbles {
    background-image: url('../assets/page1-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

button#section-down:hover .chevron-down {
    background-color: white;
    padding:0.05rem;
    border-radius:50%;
    cursor: pointer;
    stroke: black;
}
